{
  "extends": ["@giantnodes/eslint-config-nextjs"],
  "parserOptions": {
    "project": ["**/tsconfig.json"]
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["__typename"] }],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["accu"]
      }
    ]
  }
}
